@model Host.UI.Home.NewPasswordViewModel

<div class="login-page">

    <div class="row">
        <div class="login-form">
            @if (ViewBag.FlagMessage != null)
            {
                @Html.Partial("_SuccessMessage")             
            }
            @Html.Partial("_ValidationSummary")

            <form asp-route="Home" method="post" onsubmit="return ForgetPasswordValidateForm()">

                <fieldset>
                    <div>
                        <label asp-for="Password" class="login-label">New password</label>
                        <input type="password" class="login_textbox" asp-for="Password" autofocus required >
                    </div>
                    <div>
                        <label asp-for="ConfirmPassword" class="login-label">Repeat new password</label>
                        <input type="password" class="login_textbox" asp-for="ConfirmPassword" autocomplete="off" required>
                    </div>
                    @{ 
                        //ToDo: Ui pending Test
                     }
                    <input type="hidden" asp-for="ReturnUrl" value="@Model.ReturnUrl"/>
                    <div>
                        <input type="submit" class="login_btn" value="Save" />
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>


@section Scripts
{
<script src="~/js/formValidations.js"></script>
}
