
body {
    background-color: #E6E6E6;
}

.clear {
    clear: both;
}

.edit-btn {
    text-decoration: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #222;
}

    .edit-btn:hover {
        color: #222;
    }

.error-msg {
    color: #b51a1d;
}

.success-msg {
    color: #15c027;
}

.setup-btn {
    pointer-events: none;
    opacity: 0.65;
}

.userform .btn[disabled] {
    cursor: default !important;
}

.fixed {
    position: fixed;
    top: 0;
    height: 100%;
}

.mb10 {
    margin-bottom: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mt10 {
    margin-top: 10px;
}

/*------------------------------navbar menu-------------------------------*/

.navbar {
    border-radius: 0px;
    margin-bottom: 0px !important;
}

.navbar-header {
    position: relative;
}

.navbar-nav {
    margin: 0px !important;
}

.navbar-inverse {
    background-color: #808080;
    border-color: #808080;
}

.navbar-brand {
    height: 80px !important;
    padding: 30px 05px 30px 15px !important;
    font-size: 20px;
    color: #fff !important;
}

.navbar-collapse {
    border-color: none !important;
}

.navbar-brand:hover {
    color: #fff !important;
}

.navbar-brand > .icon-banner {
    position: relative;
    top: -2px;
    display: inline;
}

.menu-button {
    background: url('../images/CloseMenuIcon.svg') no-repeat;
    width: 50px;
    height: 32px;
    display: inline-block;
    cursor: pointer;
    float: left;
    margin-top: 15px;
    margin-right: 10px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    box-shadow: inset 3px 0 0 #666;
}

.navbar-toggle {
    margin-top: 20px !important;
}

.nav > li {
    position: unset;
}
/*------------------------------Side menu-------------------------------*/

#menu-ul {
    background-color: #fff;
    bottom: 0;
    position: absolute;
    top: 82px;
    z-index: 10;
    padding: 0px !important;
    width: 14%;
}

    #menu-ul ul {
    }

    #menu-ul li {
        list-style: none;
    }

    #menu-ul a {
        color: #262626;
    }


    #menu-ul li a {
        display: inline-block;
        padding: 15px 0px;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        padding-left: 50px;
    }

@media(max-width:768px) {
    #menu-ul {
        width: 100% !important;
        position: static !important;
    }

    .pin {
        display: none !important;
    }

    .log-down {
        position: unset !important;
        bottom: 0 !important;
    }
}

.sidemenubar .navbar-collapse {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/*#sidemenu li:hover {
            background-color: #F5F5F5;
        }*/

.active {
    box-shadow: inset 3px 0 0 #666;
}

.users {
    background: url(../images/UsersIcon_selected.svg) left no-repeat;
}

.logout {
    background: url(../images/MenuLockOutIcon.svg) left no-repeat;
}

.log-down {
    bottom: 42px;
    cursor: pointer;
}

.pin {
    background: url(../images/PinIcon_pinned.svg) left no-repeat;
}

.pin-down {
    position: fixed !important;
    bottom: 10px;
    cursor: pointer;
}

    .pin-down a:hover {
        box-shadow: none !important;
    }

.sidemenubar > .col-sm-2 {
    padding-left: 0px !important;
    padding-right: 0px !important;
    position: inherit;
}

.col-sm-10 {
    padding-left: 0px !important;
}

@media(min-width:768px) {
    .sidemenubar > .col-sm-2 {
        width: 15% !important;
    }
}


.nav > li > a:hover,
.nav > li > a:focus {
    background-color: transparent !important;
}

/*------------------------------Content-------------------------------*/
.body-content {
    min-height: 450px;
    background-color: #fff;
    display: inline-block;
    padding: 0px 15px;
    position: absolute;
    top: 10px;
    width: 100%;
}
/*------------------------------Ui-grid-------------------------------*/
.uiGridView {
    width: 100%;
    text-align: center;
}

.ui-grid {
    border: none !important;
    height: auto !important;
    margin-bottom: 10px;
}

.ui-grid-header {
    border-top: 1px solid #d4d4d4 !important;
}

.ui-grid-header-cell {
    padding-left: 20px !important;
}

.ui-grid-viewport {
    height: auto !important;
}
/*------------------------------Users-------------------------------*/
.user-title {
    margin: 8px 0px 40px 0px;
}

.users-header {
    margin: 20px 0px;
}

.user-list {
    height: 35px;
    line-height: 35px;
}

    .user-list .row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
}

.search-icon {
    background-color: #f2f2f2;
    border-radius: 0;
    border: 0;
    padding-right: 0;
}

.search-text {
    border: 0;
    box-shadow: none;
    background-color: #f2f2f2;
    border-radius: 0;
    box-shadow: none !important;
}

.user-search {
    float: right !important;
    margin-bottom: 10px !important;
}

.user-table {
    margin-left: 12px;
    margin-top: 5px;
    width: 98% !important;
}

    .user-table th {
        border: 0px !important;
    }

    .user-table td {
        border: 0px !important;
    }

@media(max-width:426px) {
    .users-header {
        text-align: center;
    }

    .optdiv-user {
        float: none !important;
    }

    .lbl-gateway {
        display: block;
    }
}

.optdiv-user {
    display: inline-block;
    float: right;
}

.btn-user {
    float: right;
    display: inline-block;
    color: #fff;
    background-color: #666;
    width: 100px;
    border-color: #666;
    border-radius: 0;
    margin-left: 12px;
}

    .btn-user:hover {
        color: #fff;
        background-color: #4d4d4d;
        border-color: #474747;
    }

.lbl-user {
    font-size: 30px;
}
/*------------------------------Create User-------------------------------*/

.user-wrapper {
    margin-top: 30px;
}

    .user-wrapper label {
        font-weight: 700;
    }

    .user-wrapper input[type="checkbox"] {
        cursor: pointer;
        width: 22px;
        height: 20px;
    }

.setup-deluser {
    padding: 7px 12px;
    border: none;
    color: #fff;
    background-color: #666;
    float: right;
    margin-top: 20px;
}


.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px;
    height: 300px;
}

/*------------------------------Gateway-------------------------------*/
.gateway {
    background: url(../images/DevicesIcon_black.svg) left no-repeat;
}

.gatways-header {
    margin: 20px 0px;
}

.lbl-gateway {
    font-size: 30px;
}

.list-gatways {
    height: 35px;
    line-height: 35px;
}

    .list-gatways .row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }


@media(max-width:482px) {
    .gatways-header {
        text-align: center;
    }

    .optdiv-gateway {
        float: none !important;
    }
}

.optdiv-gateway {
    display: inline-block;
    float: right;
}

.btn-gateway {
    float: right;
    display: inline-block;
    color: #fff;
    background-color: #666;
    width: 110px;
    border-color: #666;
    border-radius: 0;
    margin-left: 12px;
}

    .btn-gateway:hover {
        color: #fff;
        background-color: #4d4d4d;
        border-color: #474747;
    }

.gateway-wrapper {
    margin-top: 30px;
}

    .gateway-wrapper label {
        font-weight: 700;
    }

    .gateway-wrapper input[type="checkbox"] {
        cursor: pointer;
        width: 22px;
        height: 20px;
    }
/*------------------------------Profile-------------------------------*/
.myaccount {
    background: url(../images/MyAccountIcon_black.svg) left no-repeat;
}

.myaccountform .btnChangePassword {
    height: 34px;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 8px 12px;
    width: 38px;
    margin-top: -1px;
    cursor: pointer;
    float: right;
}

.profile-header {
    margin: 20px 0px;
}

.myaccountform .notify {
    height: 20px;
    width: 20px;
    margin-right: 15px;
}

.btnProfile {
    width: 100px;
    float: right;
    display: inline-block;
    color: #fff;
    background-color: #666;
    border-color: #666;
    border-radius: 0;
    margin-left: 12px;
}

.changepassbtn {
    float: right;
    color: #fff;
    background-color: #666;
    width: 90px;
    border-color: #666;
    border-radius: 0;
    margin-left: 12px;
}

.btnProfile:hover, .btnProfile:focus {
    color: #fff;
}

.changepassbtn:hover, .changepassbtn:focus {
    color: #fff;
}

.modal-header {
    background-color: #666 !important;
    color: #fff !important;
}

.modal-dialog {
    width: 380px !important;
}

.modal-footer {
    border: 0px !important;
}

.optdiv-profile {
    display: inline-block;
    float: right;
}

@media(max-width:426px) {
    .profile-header {
        text-align: center;
    }

    .optdiv-profile {
        float: none !important;
    }
}

.lbl-profile {
    font-size: 30px;
}

@media(max-width:768px) {
    .myaccountform .btnChangePassword {
        margin-top: 15px !important;
    }

    .modal-dialog {
        width: auto !important;
    }
}

/*------------------------------Delete User-------------------------------*/

.deleteuserbtn {
    float: right;
    color: #fff;
    background-color: #666;
    width: 88px;
    border: none;
    border-radius: 0;
    margin-left: 12px;
    padding: 5px;
}
