@{
    Layout = null;
}

<html>
<head>
    <title></title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        function CallFun()
        {
            $.ajax({
                url: 'http://localhost:5003/api/Identity',
                type: 'GET',
                dataType: 'json',
                success: function (data)
                {
                   console.log('success');
                },
                compelte: function () {
                    console.log('function completed');
                },
                error: function (e)
                {
                    alert('Error to call web api'+e);
                },

            });


        }
    

    </script>

</head>
<body>

    <input type="button" value="call" onclick="CallFun()"/>


</body>
</html>